<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>481894677806-pc8lotqj42v8ropkkr2flllrn4jlghu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481894677806-pc8lotqj42v8ropkkr2flllrn4jlghu8</string>
	<key>API_KEY</key>
	<string>AIzaSyBYX0FrXFxvLWnNBtAcnf87vezKvvIe12Y</string>
	<key>GCM_SENDER_ID</key>
	<string>481894677806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsimagepicker.firebase.app</string>
	<key>PROJECT_ID</key>
	<string>bsimagepicker</string>
	<key>STORAGE_BUCKET</key>
	<string>bsimagepicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:481894677806:ios:1b9a09b3225c6076</string>
	<key>DATABASE_URL</key>
	<string>https://bsimagepicker.firebaseio.com</string>
</dict>
</plist>